EMAIL=add email_id_which will send emails like OTP emails or password reset email
EMAIL_PASS=Password of that email id
JWT_EXPIRE=Time after which jwt token will expire (eg. 30d)
MONGOURI2=Mongodb uri , you may use atlas mongodb uri here
SERVER_URL=Hosted address of your frontend server(ex: http://localhost:3000,if running on localhost:3000)
