 /* Home page */
*{
    user-select: none;
}
.main{
    margin-top:60px;
    display:flex;
}
.main_component_home{
    width:calc(100% - 490px);
    border-right:1px solid #e6e6e6;
    height:100vh;
    padding:20px;    
    margin-left:60px;
}

.main_tabs{
    display:flex;    
    width:calc(100% - 565px);
    border-bottom: 1px solid #e6e6e6;
    padding-bottom:10px;
    position:fixed;
    top:54px;
    z-index:4;
    background:white;
    padding:10px;
    padding-left:20px;
    border-left:1px solid #e6e6e6;
}

.tab {
	margin-right: 40px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
    cursor:pointer;
	color: #3e3b3b;
	margin-top: 10px;
}
.selected-tab{
    border-bottom: 3px solid #3e3b3b;
}
.follow_people_tag{
    color:#4f4e4e;
    display:flex;
    align-items: center;
    margin-top:70px;
    margin-bottom:40px;
    cursor:pointer;
}
.follow_people_tag svg{
    margin-right:20px;
    margin-left:10px;
}
.main_right{
    width:490px;
}



/* Follow page and Search page*/


.followpage,.searchpage{
    margin-top:150px;
    margin-left:150px;
    
}
.followpage h1,.searchpage h1,.followpage p,.searchpage p{      
    color:#292929;
}
.followpage h1,.searchpage h1{
    font-size:34px;
}
.followpage p,.searchpage p{
    font-size:18px;
}

/*Topic page */

.topicpage{
    margin-top:80px;
    margin-left:50px;
    display: flex;
}
.left_side{
    width:calc(100% - 500px);
}
.right_side{
    width:350px;
    margin-left:60px;
}
.topicimage{
    height:300px;
    background-size:cover;
}
.latest_article{
    padding-top:50px;
}
.parameter{
    margin-bottom:30px;
    border-bottom:1px solid #dfdfdf;
    padding-bottom:10px;
    font-weight:bold;
    font-size:14px;
}
.topic_intro{
    padding-top:10px;
}
.topic_name{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.topic_des{
    padding-top: 20px;
    line-height:1.4em;
    color:#8e8e8e;
}
.related_topic,.popular_article_in_topic{
    padding-top:30px;
}
.rel_topic{
    padding-bottom:15px;
    cursor:pointer;
    color:#8e8e8e;
    text-transform: uppercase;
    font-size:14px;
    letter-spacing: 1px;
}
.popularArticle{
    display:flex;
    align-items: center;
    margin-bottom:20px;
    
}
.article_info_2{
    margin-right:20px;
    width:calc(100% - 120px);
}
.read {
	margin-top: -10px;
	font-size: 14px;
	color: gray;
}
.article_img{
    width:80px;
    height:80px;
    background-size:cover;
    margin-right:20px;
}
.topic_intro_mobile{
    display:none;
}

/* Trending page */
.trendingwrapper{
    margin-top:20px;
    width:600px;
    padding-top:50px;
    border-top:1px solid #ccc9c9;
}
.applyAditionalStyle{
    width:400px;
    position:fixed;
    top:30px;
    right:0;
}
@media screen and (max-width:1200px) {
    .trending{
        margin-left:50px !important;
    }
}
@media screen and (max-width:1080px){
    .trendingwrapper{
        width:calc(100% - 500px)
    }
}
@media screen and (max-width:900px){
    .trendingwrapper{
        width:calc(100% - 50px);
    }
    .applyAditionalStyle{
        display: none;
    }
}
@media screen and (max-width:450px){
    .article_header{
        font-size:18px;
        padding:10px 0px;
    }
    .article_info{
        padding-top:0px;
    }
    .article_info,.article_short_des{
        font-size:14px;
    }
}
@media screen and (max-width:650px){
    .trendingwrapper{
        width:calc(100% - 50px);
    }
}
@media screen and (max-width:1000px) and (min-width:850px){
    .left_side{
        width: calc(100% - 400px);
    }
    .right_side{
        width:350px;
    }
}
@media screen and (max-width:400px){
    .topicimage{
        height:250px;
    }
}
@media screen and (max-width:850px){
    .left_side{
        width:100%;
    }
    .topicpage{
        display:block;
        width:calc(100% - 100px);
        padding-bottom:50px;
    }
    .right_side{
        width:100%;
        margin-left:0;
    }
    .topic_intro_mobile{
        display:block;
        padding:20px;
        background:rgba(0,0,0,0.6);
        color:white;
    }
    .topic_intro{
        display:none;
    }
    .article_comp_real{
        padding-right:20px;
    }
}

@media screen and (max-width:1120px) and (min-width:800px){
    /* Home */
    .main_right{
        width:390px;
    }
    .main_tabs{
        width:calc(100% - 505px)
    }
    
}
@media screen and (max-width:940px){
    /* Follow page and Search page*/
    .followpage,.searchpage{
        margin-top:90px;
        margin-left:25px;
        
    }
    .content_2{
        width:100% !important;
    }
}
@media screen and (max-width:875px){
     /* Home */

    .main_component_home{
        width:100%;
        margin-left:10px;
    }
    .main_tabs{
        width:100%;
        margin-left:-30px;
    }
    .main_right{
        display:none;
    }
    
    
}